/* line 36, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 7, ../sass/base/links/_links.scss */
a {
  color: #1db7b7;
  text-decoration: none;
}
/* line 13, ../sass/base/links/_links.scss */
a:link, a:visited {
  color: #1db7b7;
}
/* line 18, ../sass/base/links/_links.scss */
a[href]:hover, a[href]:focus {
  color: #2adddd;
  text-decoration: underline;
}
/* line 23, ../sass/base/links/_links.scss */
a:active {
  color: #1d66b7 !important;
}
/* line 27, ../sass/base/links/_links.scss */
.logo a, h1 a, h2 a, h3 a {
  color: #1db7b7;
}
/* line 31, ../sass/base/links/_links.scss */
a:focus {
  background: yellow;
  outline: none;
}
/* line 35, ../sass/base/links/_links.scss */
article#hometoc a:link, article#hometoc a:visited {
  color: #343434;
}

/* line 7, ../sass/modules/hub_list/_hub_list.scss */
[role="navigation"].main ul.main {
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
  padding: 0 2px;
}
/* line 13, ../sass/modules/hub_list/_hub_list.scss */
[role="navigation"].main ul.main li {
  font-size: .9em;
}

/* line 20, ../sass/modules/hub_list/_hub_list.scss */
[role="complementary"].part-of-hub {
  background-color: #f8efe9;
}
/* line 22, ../sass/modules/hub_list/_hub_list.scss */
[role="complementary"].part-of-hub header {
  padding: .5em .5em .5em 1em;
  background-color: #edd8c6;
}

/* line 28, ../sass/modules/hub_list/_hub_list.scss */
[role="directory"]#hometoc {
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 31, ../sass/modules/hub_list/_hub_list.scss */
[role="directory"]#hometoc h1.hub-title {
  font-size: 2em;
  padding: .4em 0 0 0;
  margin: 0 0 .1em 0;
  color: #333333;
}
/* line 37, ../sass/modules/hub_list/_hub_list.scss */
[role="directory"]#hometoc p {
  margin: 0.1em 0;
}
/* line 40, ../sass/modules/hub_list/_hub_list.scss */
[role="directory"]#hometoc .view-mode-toc_spoke {
  padding-top: 1.5rem;
  line-height: 1.5;
}
/* line 43, ../sass/modules/hub_list/_hub_list.scss */
[role="directory"]#hometoc .view-mode-toc_spoke .toc-spoke-thumb {
  float: left;
}
/* line 46, ../sass/modules/hub_list/_hub_list.scss */
[role="directory"]#hometoc .view-mode-toc_spoke h2 {
  font-size: 1.3rem;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: .4rem;
  margin-left: 110px;
}
/* line 52, ../sass/modules/hub_list/_hub_list.scss */
[role="directory"]#hometoc .view-mode-toc_spoke h2 a {
  display: block;
}
/* line 56, ../sass/modules/hub_list/_hub_list.scss */
[role="directory"]#hometoc .view-mode-toc_spoke .byline {
  font-size: 1em;
  margin-left: 110px;
}
/* line 61, ../sass/modules/hub_list/_hub_list.scss */
[role="directory"]#hometoc .view-mode-toc_spoke .toc-spoke-date {
  margin-left: 110px;
}
/* line 64, ../sass/modules/hub_list/_hub_list.scss */
[role="directory"]#hometoc .view-mode-toc_spoke span {
  display: inline-block;
  margin-right: .3em;
}
