//////////////////////////////
// VARIABLES: For Theme — Overides for Compass Pattern-Primer  
//////////////////////////////

// Fonts see base/_webfonts
// http://awesome-fontstacks.com/bundles/414-droooooid
// added in Droid Serif and Droid Sans which are native fonts on Android Phones so they don't need to wait for the webfont version to be loaded 
$body-font-family: "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", "Droid Serif", serif;
$header-font-family: "Arial", "Helvetica", "Lucida Grande", "Verdana", "Gill Sans", "Droid Sans", sans-serif;
$blockquote-font-family: $header-font-family;

$body-font-size: 16px; 
$body-line-height: 1.5em;

///// body
$body-background-color: lighten(nth($black , 6), 10%);
$body-background-rgba: rgba($body-background-color, 1);
$body-border-width: false;
$body-border-color-rgba: rgba(0,0,0,0); 
$body-margin: 0 auto;
$body-padding: 0;

$html-border-width: false;
$html-border-color: nth($primary, 1);
$html-background-color: $body-background-color;

// Links
$link-color: $cs-primary;
$link-text-decoration: none;
$link-border-width: false;
///// Visited
$link-visited-link-color: nth($primary, 1);
$link-visited-border-width: false;
///// Hover
$link-hover-link-color: lighten($link-color, 10%);
// $link-hover-text-decoration: none; 
$link-hover-border-width: false;
$link-hover-border-color: $link-color;
///// Active
$link-active-link-color: nth($secondary, 1);

$article-fl-float: none;
$article-fl-font-family: inherit;
$article-fl-font-bold: false; 
$article-fl-font-size: inherit;
$article-fl-line-height: inherit;
$article-fl-letter-spacing: inherit;
$article-fl-margin: 0;
$article-fl-margin-pos: false;
$article-fl-background-color: inherit;
$article-fl-color: inherit; 

$article-font-size: inherit;
$article-line-height: inherit;
$article-word-spacing: inherit;
$article-margin: 1em 0;

$time-display: block;
$time-text-align: left;
$time-font-family: $body-font-family;
$time-font-bold: false; // normal
$time-font-italic: false; // normal
$time-font-uppercase: false; // uppercase
$time-font-variant: false; // normal
$time-font-size: 1em;
$time-line-height: 1.5em;
$time-letter-spacing: 0.05em;
$time-color: nth($black , 2);
$time-content: '';

$button-font-family: $header-font-family;
$button-padding: 0.33em .66em;
$button-border-color: nth($black, 3);
$button-border-radius: .1875em;

$button-color: nth($black, 1);
$button-text-shadow: none;

$button-gradient-stop-1: nth($black, 5);
$button-gradient-stop-2: shade($button-gradient-stop-1, 3%);
$button-hover-color: $button-color;
$button-hover-gradient-stop-1: $button-gradient-stop-1;
$button-hover-gradient-stop-2: tint($button-gradient-stop-1, 3%);                                                  
$button-active-color: $button-color;
$button-active-gradient-stop-1: shade($button-gradient-stop-1, 3%);
$button-active-gradient-stop-2: $button-gradient-stop-1;

$button-action-gradient-stop-1: nth($primary, 2);
$button-action-gradient-stop-2: shade($button-action-gradient-stop-1, 5%);
$button-action-hover-gradient-stop-1: $button-action-gradient-stop-1;
$button-action-hover-gradient-stop-2: tint($button-action-gradient-stop-1, 5%);
$button-action-active-gradient-stop-1: shade($button-action-gradient-stop-1, 5%);
$button-action-active-gradient-stop-2: $button-action-gradient-stop-1;

$button-cancel-gradient-stop-1: #e92e26;
$button-cancel-gradient-stop-2: shade($button-cancel-gradient-stop-1, 5%);
$button-cancel-hover-gradient-stop-1: $button-cancel-gradient-stop-1;
$button-cancel-hover-gradient-stop-2: tint($button-cancel-gradient-stop-1, 5%);
$button-cancel-active-gradient-stop-1: shade($button-cancel-gradient-stop-1, 5%);
$button-cancel-active-gradient-stop-2: $button-cancel-gradient-stop-1;

$button-gradient-pos: 45deg;
$button-hover-gradient-pos: $button-gradient-pos;
$button-active-gradient-pos: $button-gradient-pos;
$button-action-gradient-pos: $button-gradient-pos;
$button-action-hover-gradient-pos: $button-gradient-pos;
$button-action-active-gradient-pos: $button-gradient-pos;
$button-cancel-gradient-pos: $button-gradient-pos;
$button-cancel-hover-gradient-pos: $button-gradient-pos;
$button-cancel-active-gradient-pos: $button-gradient-pos;
$button-disabled-gradient-pos: $button-gradient-pos;

$search-border-radius: 0.25em;
$search-padding: 0 0.75em;
$search-border-width: false; 
$search-border-style: solid;
$search-border-color: #ccc;

//// Search Input
$search-input-border-width: false;
$search-input-border-style: solid;
$search-input-border-color: #ccc;
$search-input-border-radius: .5em;

//// Search Input Image
$search-image-width: 0.9375em;
$search-image-top: 0.2em;
$search-image-right: 0.6em;
$search-image-padding: 0.2em 0.2em;

//// Forms
$forms-input-width: auto;